@page "/employeedetail/{EmployeeDetail}"

<h1 class="page-title">Details for @Employee.FirstName@Employee.LastName </h1>

<div class="col-12 row">
    <div class="col-10 row">
        <div class="col-xs-12 col-sm-8">
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Employee ID</label>
                <div class="col-sm-8">
                    <label type="" class="form-control-plaintext">@Employee.EmployeeId</label>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">First Name</label>
                <div class="col-sm-8">
                    <label type="" class="form-control-plaintext">@Employee.FirstName</label>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Last Name</label>
                <div class="col-sm-8">
                    <label type="" class="form-control-plaintext">@Employee.LastName</label>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Employee ID</label>
                <div class="col-sm-8">
                    <label type="" class="form-control-plaintext">@Employee.EmailAddress</label>
                </div>
            </div>
        </div>
    </div>
</div>
